/* This is how to locate the CANVAS in the CENTER of the page!!! */
canvas {
  /* left: calc(50% - 200px);
  top: calc(50vh - 200px); */
  justify-content: center;
  align-items: center;

  position: relative;
}

body {
  background-color: #DCDCDC;
  /* set the background color to a light gray */
}

h1 {
  position: absolute;
  top: 27%;
  left: 0;
  z-index: 1;
  /* background-color: white; */
  padding: 0px;
  margin: 0;
  font-size: 96px;
  /* font-weight: bold; */
  width: 100%;
  text-align: center;

  font-family: 'Fredoka One', cursive;
}

h2 {
  position: absolute;
  top: 42%;
  left: 0;
  z-index: 1;
  color: black;
  /* background-color: white; */
  /* padding: 10px; */
  margin: 0;
  font-size: 30px;
  /* font-weight: bold; */
  width: 100%;
  text-align: center;

  font-family: 'Fredoka One', cursive;
}

h3 {
  margin: 0;
}

.page2-h1 {
  color: #646464;
}

#question {
  position: absolute;
  top: 55%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 20px;
  text-align: center;

  font-family: 'Fredoka One', cursive;
}

#question_p3 {
  position: absolute;
  top: 54%;
  left: 50%;
  /* margin: 0; */
  transform: translate(-50%, -50%);

  font-size: 20px;
  text-align: center;
  font-family: 'Fredoka One', cursive;
}

#date-input {
  display: inline-block;
  /* left: 50px;
  top: 130px; */
}

.button {
  background-color: #9C9C9C;
  color: white;

  border: none;
  padding: 10px 24px;

  text-align: center;
  text-decoration: none;
  font-family: 'Fredoka One', cursive;

  display: inline-block;
  font-size: 20px;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 8px;

  transition-duration: 0.4s;
}

.red {
  color: #FCEAEA;
  background-color: #FCEAEA;
}

.orange {
  color: #FCF2EA;
  background-color: #FCF2EA;
}

.yellow {
  color: #FCFAEA;
  background-color: #FCFAEA;
}

.green {
  color: #EAFCEB;
  background-color: #EAFCEB;
}

.blue {
  color: #EAF3FC;
  ;
  background-color: #EAF3FC;
}

.purple {
  color: #F6EAFC;
  background-color: #F6EAFC;
}

.button-container {
  display: flex;
  justify-content: center;
}

.button-container button {
  margin: 0 10px;
  /* add some margin between the buttons */
}

.button:hover {
  background-color: #BDBDBD;
}